@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

a:focus { color: #0069d9; }
.black {
  background: lightgray; 
  color: black;
}
.green {
  background: black; 
  color: lightgreen;
}
.yellow {
  background: black; 
  color: yellow;
}
.magenta {
  background: black; 
  color: magenta;
}
.red {
  background: black; 
  color: red;
}
