[Unit]
Description=Domo
After=network.target

[Service]
Type=simple
User=aleak
Group=aleak
WorkingDirectory=/home/aleak/src/domo 
ExecStart=/bin/bash --login -c 'source /home/aleak/.bashrc; cd /home/aleak; mix phx.server'
Restart=on-failure
RestartSec=5
Environment=PORT=4040
Environment=LANG=en_US.UTF-8
SyslogIdentifier=domo
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
