<div>
  <h2><%= "ZZZ" %></h2>

  <.form
    let={f}
    for={@changeset}
    id="period-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :headline %>
    <%= text_input f, :headline %>
    <%= error_tag f, :headline %>
  
    <%= label f, :notes %>
    <%= textarea f, :notes, style: "height: 300px;" %>
    <%= error_tag f, :notes %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
